header {
    display: flex;    
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: black;
}

.logo-clara-header{
    height: 20%;
    width: 25%;
    border: none;
    border-radius: 20px;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    list-style-type: none;
    font-size: 1.3vw;
}

.header-links li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}